.gamecard {
    border: 2px var(--surface-200) dotted;
    border-radius: 10px;
}

.gamecard.md {
    width: 134px;
    height: 174px;
    padding: 5px;
}

.gamecard.sm {
    width: 70px;
    height: 90px;
    padding: 3px;
}

.gamecard.selectable:hover {
    border-style: solid;
    cursor: pointer;
    border-color: var(--primary-color);
}

.gamecard.selected {
    border-style: solid;
}

.gamecard:not(.selectable) {
    pointer-events: none;
}
