.gamecard {
    width: 134px;
    height: 174px;
    border: 2px var(--surface-200) dotted;
    border-radius: 10px;
    padding: 5px;
}

.gamecard.backcard:hover {
    border-style: solid;
    cursor: pointer;
    border-color: var(--primary-color);
}

.gamecard.selected {
    border-style: solid;
}

.gamecard:not(.backcard) {
    pointer-events: none;
}
